#page_body{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 10vh 60vh 20vh 10vh;
    grid-template-areas:"page_head"
                        "page_main"
                        "auth_info"
                        "page_foot";
}

#page_head{
    grid-area: page_head;
    background-color: #0a111d;
    background-image: url("../images/head-bg.jpg");
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page_main{
    grid-area: page_main;
    background: #0a111d;
    display: flex;
    justify-content: center;
}

#page_iframe{
    width: 100%;
    height: 100%;
}

#auth_info{
    grid-area: auth_info;
    display: flex;
    justify-content: center;
    background-color: #2e3d49;  
    padding: 2vh;
    color:#fff ;
}

#img_cont{
    background-image: url("../images/p.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 40vw;
    height: 20vh;
}

#auth_data{
    width: 100%;
}

#auth_info img{
    width: 10vw;
    height: 15vh;
    margin: 1vh;
    padding: 2vh;
}

#page_foot{
    grid-area: page_foot;
    background-color: #0a111d;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    font-size: 0.8em;
    flex-direction: column;
}

#page_foot .social_icons ul{
    padding: 0;
    margin: 0;
}

#back{
    width: 10vw;
    height: 10vh;
}

#back:hover{
    width: 11vw;
    height: 11vh;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,05);
}
#page_main{
display: flex;
font-weight: bold;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 1.7em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#quote{
    color: #fff;
    height: 10vh;
}